html 
{
	background-color: #eee;
}

#content 
{
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
	color: #444;
	background-color: #fff;
	font-size: 13px;
	font-family: Freesans, sans-serif;
	padding: 2em 2em;
	box-shadow:				1px 1px 8px #444;
	-mox-box-shadow:		1px 1px 8px #444;
	-webkit-box-shadow:		1px -1px 8px #444;
	margin-bottom:150px;
	margin: 15px auto;
	width:1280px;
}


a, a:visited 
{
	color: #4183C4;
	text-decoration: none;
}

a:hover 
{
	text-decoration: underline;
}

h1 
{
	font-size: 2em;
	text-align:center;
	margin-bottom:20px;
}

h2 
{
	font-size: 1.2em;
	font-weight: normal;

	margin-top: .2em;
	margin-bottom: 1.5em;
}

h3 
{
	font-size: 1em;
	margin: 1em 0 .3em;;
}

p, ol, ul, pre, form 
{
	margin-top: 0;
	margin-bottom: 1em;
}


#header {
	text-align:center;
	color:#fc6206;
	font-size:18px;
	margin-bottom:45px;
}

#chat_area {
	margin:auto;
	width:1200px;
	height:630px;
}

.user_management {
	float:right;
	border-left: 1px solid black;
    padding-left: 18px;
	height:800px;
	overflow:auto;
	height: 475px;
	width: 195px;
}

#user_list {
	width:200px;
	height:400px;
	padding: 20px 5px 5px;
}

.user_management h3 {
	text-align:center;
	margin-bottom:20px;
}

.user_management li {
	list-style: none;
}

#user_message{
	padding:10px;
}

#user_message input{
	width:800px;
	height:18px;
	font-size:17px;
	padding:5px;
}

#user_message button{
	margin-left:10px;
	font-size: 15px;
}

#tools_aera {
	color: #3A6DC4;
    font-weight: bold;
}

/* 404 */

#not_found {
	text-align:center;
}

/* Tab muliroom */


#chat_content { margin-top: 1em; }
#chat_content li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#chat_content {
	height:540px;
	padding-right:10px;
	padding-left:5px;
}

.small_button {
	font-size: 12px;
    height: 30px;
    margin-left: 5px;
    margin-right: 40px;
    padding: 2px;
}

#tools_aera input{
	font-size: 12px;
    height: 12px;
    padding: 8px 5px 5px;
    width: 150px;
}

.container {
	overflow:auto;
	height: 490px;
}


#ten_last {
    float: left;
    height: 355px;
    margin-left: 17px;
    position: absolute;
    width: 228px;
	
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
	color: #444;
	background-color: #fff;
	font-size: 13px;
	font-family: Freesans, sans-serif;
	box-shadow:				1px 1px 8px #444;
	-mox-box-shadow:		1px 1px 8px #444;
	-webkit-box-shadow:		1px -1px 8px #444;
}

#ten_last h3 {
	text-align:center;
	margin-bottom: 20px;
}

#ten_last_content li {
	list-style: none outside none;
    margin-left: -27px;
    padding: 3px;
    width: 200px;
}

/* Mise en forme conversation */

.user_chatouille .pseudo{
	color:#D11919;
	font-weight:bold;
}

.user_user .pseudo{
	color:#00B6ED;
	font-weight:bold;
}

.user_twitter .pseudo{
	color:#8C00DC;
	font-weight:bold;
}

.container abbr {
	border: medium none;
    text-decoration: none;
}

.nickname_chatouille {
	color:#D11919;
	font-weight:bold;
}

.nickname_user {
	color:#00B6ED;
}