<!DOCTYPE html>
<html lang="fr">
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<title>Chatouille - Discussion</title>
        
		<link rel="stylesheet" href="/css/main.css" type="text/css" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css" />
    </head>

    <body>
        <div id="content">
			<div id="header">
				<h1>Chat(ouille) <img src="/img/logo-chatouille.png" alt="NodeJS Chat"></h1>
			</div>
			<h2 id="discussion_title"></h2>
			<div id="discussion">
				
			</div>
			<div id="navigation"><span id="previous"></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="next"></span></div>
		</div>
    </body>
</html>
